<section>
    <button class="cancel-btn" mat-mini-fab color="secondary" (click)="cancel()"><mat-icon>cancel</mat-icon></button>
    <mat-dialog-content class="dialog-content">
        <form #colorForm="ngForm">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Color</mat-label>
                    <mat-select [(ngModel)]="colors.name" name="name" required>
                        <mat-option value="blue">blue</mat-option>
                        <mat-option value="red">red</mat-option>
                        <mat-option value="yellow">yellow</mat-option>
                        <mat-option value="white">white</mat-option>
                        <mat-option value="black">black</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Charge</mat-label>
                    <input matInput value="" [(ngModel)]="colors.charge" name="charge" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="colors.date" name="date" required>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </form>
    </mat-dialog-content>
    <div class="button-container">
        <button mat-mini-fab color="warn" (click)="deleteColor()"><mat-icon>delete</mat-icon></button>
        <button mat-mini-fab color="accent" (click)="save()"><mat-icon>save</mat-icon></button>
    </div>
</section>