<mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #drawer class="sidenav-content" mode="side">
        <!-- <app-sidenav></app-sidenav> -->
        <h1>Dashborad</h1>
    </mat-drawer>
    <mat-toolbar role="heading" color="primary">
        <button type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon fontIcon="more_vert"></mat-icon>
        </button>
        <span>Colors under Control</span>
    </mat-toolbar>
    <router-outlet />
</mat-drawer-container>