<section>
<mat-card>
    <mat-card-content>
        <table>
            <tr>
                <th>Color</th>
                <th>Charge</th>
                <th>expiry date</th>
            </tr>
            <tr *ngFor="let color of allColors">
                <td>{{color.name}}</td>
                <td>{{color.charge}}</td>
                <td>{{color.date | date:"dd.MM.yyyy"}}</td>
                <button mat-icon-button (click)="editColor(color)"><mat-icon fontIcon="edit"></mat-icon></button>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
</section>