section{
    padding: 12px;
    background-color: #949494;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
    border-radius: 8px;
}

mat-card {
    min-width: 400px;
    width: fit-content;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:
        0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
}

table{
    width: 100%;
    tr{
        margin: 4px 0 4px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #949494;
    }
    td {
        width: 100%;
        text-align: start;
    }
    th{
        text-align: start;
        margin-bottom: 8px;
    }
    button{
        margin-left: 10px;
    }
}

td:nth-child(1), th:nth-child(1){
    max-width: 94px;
    min-width: 94px;
    width: 100%;
}

th:nth-child(3){
    margin-left: 14%;
}
